{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Video conferences is available on our server' %}{% endblock %}

{% block content %}
<h2>{% trans 'Video conferences is available on our server' %}</h2>
<table   width="90%" cellspacing="0" cellpadding="0" border="1">
    {% for a in meetings%}
        <tr>
            <td>
                <div class="more-info">
                    {% if a.running == 'true' %}
                        <span class="status running">{% trans 'is running' %}</span>
                    {% else %}
                        {% if a.timestop %}
                            <span class="status notrunning">{% trans 'is ended' %}</span>
                        {% else %}
                            <span class="status notrunning">{% trans 'is not running' %}</span>
                        {% endif %}
                    {% endif %}
                    <div class= "info" id="info" >
                        <table>
                            {% for item in a.info.items %}
                                <tr>
                                    <th>{{ item.0 }}</td>
                                    <td>{{ item.1 }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>{% trans 'begin' %}</td>
                                <td>{{a.timestart}}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'end' %}</td>
                                <td>{{a.timestop}}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Available' %}</td>
                                <td>
                                    {% if a.openout %}
                                        {% trans 'anywhere' %}
                                    {% else %}
                                        {% trans 'only in our lans' %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'record' %}</td>
                                <td>
                                    {% if a.record %}
                                        {% trans 'record is running' %}
                                    {% else %}
                                        {% trans 'record is not running' %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'link to invite' %}</td>
                                <td>
                                    <a href="../meeting/{{a.id}}/join">{% trans ' in here' %}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td>{{a.name}}</td>
            <td><a href="mailto:{{a.owner.email}}" title="{% trans 'write to author' %}">{{a.owner.last_name}} {{a.owner.first_name}}</a></a></td>
            <td>{{a.timestart}} - {{a.timestop}}</td>            
            <td>
                {% if a.running == 'true' %}
                    <form method="POST" action="{% url join a.id %}">
                        <input type="submit" value="{% trans 'enter' %}">
                    </form> 
                {% endif %}
            </td>
            
        </tr>
    {% empty %}
        <tr><td>{% trans 'We have not video conferences now' %}</td></tr>
    {%endfor%}
</table>
{% endblock %}
