<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock%}
        {% load static %}
        {% load i18n %}
       <link type="text/css" href="{% get_static_prefix %}css/main.css" rel="Stylesheet" /> 
        <title>{{settings.FACILITY}}</title>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/main.js"></script>
    </head>
    <body>
        <div class="container">

        <header>
        <h1>{% trans 'Videoconferences' %} {{settings.FACILITY}}</h1>

        <nav>
        <ul>
            <li><a href="/bbb/">Домой</a></li>
        {% if user.is_authenticated %}
            <li>{% trans 'You enter as' %} {{ user.username }} <a href="{% url logout %}">{% trans 'log out' %}</a></li>
        {% else %}
            <li><a href="{{settings.LOGIN_URL}}">{% trans 'log in' %}</a></li>
        {% endif %}
        </ul>
        </nav>
        </header>


        <div class="content">
        
        {% block content %}{% endblock %}
        </div>
        </div>
    </body>
</html>
