{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Conference' %}{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
<h2>{% trans 'enter in conference' %} {{ meeting_name }}'</h2>
<p>{% trans 'you can invite other people ' %} <a href="/meeting/{{ meeting_name }}/join">{% trans 'in here' %} URL</a></p>
<table>
    {{form.media}}
    {{form}}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="{% trans 'invite' %}">
        </td>
    </tr>
</table>
</form>
{% endblock %}
